/* Esta primera linea es recomendable añadirla en todos los archivos css para que asi elimine el estilo predifinido del buscador */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}      

html body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 550px;
    line-height: 1.6;
    font-family: "Courier Prime", monospace;
    color: grey;
}

h1 {
    font-size: 35px;
    color: orange;
}

h2 {
    font-size: 25px;
    color: yellowgreen;
}

.texto-derecha {
    text-align: right;
    color: blue;
}

p {
    font-size: 15px;
}

li {
    margin-left: 40px;
    font-size: 25px;
    word-wrap: break-word;
}

a {
    color: green;
    text-decoration: underline;
}

a:hover {
    color: red;
}

a:hover::after {
    color: blueviolet;
}

.parrafo-negrita {
    font-weight: bolder;
}

.muyEspaciado {
    word-spacing: 200px;
}

.unacoma {
    quotes: '『' '.';
    vertical-align: super;
}

.estrecho {
    border: 1px solid black;
    width: 150px;
    hyphens: auto;
}

.subtitulo {
    vertical-align: sub;
    color: black;
}

.envertical {
    writing-mode: vertical-rl;
    margin-top: 65px;
}