* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}      

html body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 550px;
    line-height: 1.6;
    font-family: "Courier Prime", monospace;
}

h1 {
    font-size: 35px;
    color: yellowgreen;
}

h2 {
    font-size: 25px;
    color: yellow;
}

.texto-derecha {
    text-align: right;
    color: blue;
}

li {
    margin-left: 40px;
}

a {
    color: green;
    text-decoration: underline;
}

a:hover {
    color: red;
}

a:hover::after {
    color: blueviolet;
}

.parrafo-negrita {
    font-weight: bolder;
}

.muyEspaciado {
    word-spacing: 200px;
}